<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MultiXTpmService.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings />
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="MultiXTpmServiceInstaller.DisplayName" value="MultiXTpm Application Server" />
		<add key="MultiXTpmServiceInstaller.ServiceName" value="MultiXTpm" />
	</appSettings>
	<applicationSettings>
  <MultiXTpmService.ServiceSettings>
			<setting name="MultiXTpmInstances" serializeAs="Xml">
				<value>
					<ArrayOfInstanceSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<InstanceSettings>
							<ServiceName>mFinoMultiXTpmServerEC2</ServiceName>
							<DisplayName>mFino MultiXTpm Server EC2</DisplayName>
							<WorkingDirectory />
							<MultiXID>200</MultiXID>
							<WebServicePort>30000</WebServicePort>
							<ConfigFileName>TpmConfigEC2.xml</ConfigFileName>
						</InstanceSettings>
						<InstanceSettings>
							<ServiceName>mFinoMultiXTpmServer</ServiceName>
							<DisplayName>mFino MultiXTpm Server</DisplayName>
							<WorkingDirectory />
							<MultiXID>100</MultiXID>
							<WebServicePort>30000</WebServicePort>
							<ConfigFileName>TpmConfig.xml</ConfigFileName>
						</InstanceSettings>
					</ArrayOfInstanceSettings>
				</value>
			</setting>
		</MultiXTpmService.ServiceSettings>
	</applicationSettings>
</configuration>