<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MultiXTpmService.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings />
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="MultiXTpmServiceInstaller.DisplayName" value="MultiXTpm Application Server" />
		<add key="MultiXTpmServiceInstaller.ServiceName" value="MultiXTpm" />
	</appSettings>
	<applicationSettings>
  <MultiXTpmService.ServiceSettings>
			<setting name="MultiXTpmInstances" serializeAs="Xml">
				<value>
					<ArrayOfInstanceSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<InstanceSettings>
							<ServiceName>MultiXTpm</ServiceName>
							<DisplayName>MultiXTpm Application Server</DisplayName>
							<WorkingDirectory />
							<MultiXID>100</MultiXID>
							<WebServicePort>18080</WebServicePort>
							<ConfigFileName>TpmConfig.xml</ConfigFileName>
						</InstanceSettings>
						<InstanceSettings>
							<ServiceName>MultiXTpmgSoapEnhancer</ServiceName>
							<DisplayName>MultiXTpm gSoap Enhancer</DisplayName>
							<WorkingDirectory>c:\Dev\MultiXTpmRelease\MultiXTpmgSoapEnhancer\runtime</WorkingDirectory>
							<MultiXID>107</MultiXID>
							<WebServicePort>18081</WebServicePort>
							<ConfigFileName>TpmConfig.xml</ConfigFileName>
						</InstanceSettings>
						<InstanceSettings>
							<ServiceName>MultiXTpmISO8583Server</ServiceName>
							<DisplayName>MultiXTpm ISO 8583 Server</DisplayName>
							<WorkingDirectory>c:\Dev\MultiXTpmRelease\ISO8583Server\runtime</WorkingDirectory>
							<MultiXID>108</MultiXID>
							<WebServicePort>18583</WebServicePort>
							<ConfigFileName>TpmConfig.xml</ConfigFileName>
						</InstanceSettings>
						<InstanceSettings>
							<ServiceName>MultiXTpmWSEventingServer</ServiceName>
							<DisplayName>MultiXTpm WS-Eventing Server</DisplayName>
							<WorkingDirectory>c:\Dev\MultiXTpmRelease\MultiXTpmWSEventingServer\runtime</WorkingDirectory>
							<MultiXID>119</MultiXID>
							<WebServicePort>18086</WebServicePort>
							<ConfigFileName>TpmConfig.xml</ConfigFileName>
						</InstanceSettings>
					</ArrayOfInstanceSettings>
				</value>
			</setting>
		</MultiXTpmService.ServiceSettings>
	</applicationSettings>
</configuration>